.App {
 background: linear-gradient(90deg, rgb(240, 221, 222) 27%, rgb(212, 250, 241) 100%);
}

h1 {
  font-size: 40px;
font-family: 'Homemade Apple', cursive;
  text-align: center;

}

.App a {
  color: plum;
}
.App-header {
margin: 30px, 0;
}

.App-logo {
  max-width: 150px;
 
padding-top: 30px;
padding-bottom: 50px;
}